
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --app-blur: 40px;
    --app-indent:10px;
    --default-font-size: 16px;
    --default-font-weight: 400;
    --default-line-height: 19px;
    --small-font-size: 14px;
    --small-font-weight: 200;
    --small-line-height: 17px;
    --white: #FFF;
    --blue: #0085FF;
    --dark-blue: #0072dd;
}

html body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

body {
    line-height: var(--default-line-height);
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
}

.glassmorphizm {
    background-color: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(var(--app-blur));
    backdrop-filter: blur(var(--app-blur));
}

#choosing-state {
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: var(--app-indent);
    gap: var(--app-indent);
}